/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600italic,600,400italic,300,300italic);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent displaying `audio` without controls in Mobile Safari 4/5/6/7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address inconsistent styling of `abbr[title]`.
 * 1. Correct styling in Firefox 39 and Opera 12.
 * 2. Correct missing styling in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Address inconsistent styling of b and strong.
 * 1. Correct duplicate application of `bolder` in Safari 6.0.2.
 * 2. Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+.
 */
b,
strong {
  font-weight: inherit;
  /* 1 */
}

b,
strong {
  font-weight: bolder;
  /* 2 */
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address inconsistent styling of `hr`.
 * 1. Correct `box-sizing` set to `border-box` in Firefox.
 * 2. Correct `overflow` set to `hidden` in IE 8/9/10/11 and Edge 12.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * 1. Correct inheritance and scaling of font-size for preformatted text.
 * 2. Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore focus style in Firefox 4+ (unset by a rule above)
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Restore font weight (unset by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.container::before, .container::after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.top {
  padding: .8em 0 .7rem;
}

.hdn_tel {
  z-index: 1000;
  position: relative;
  font-size: .9rem;
  cursor: default;
}
.hdn_tel .clicked_phone {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: -.8rem;
  left: -1.2rem;
  padding: 1.02rem;
  background: #fff;
  color: #c20b2f;
  box-shadow: 0 0 15px -5px #000;
}
.hdn_tel .clicked_phone img {
  margin-bottom: -.2rem;
  height: 1rem;
}
.hdn_tel .clicked_phone .chevron {
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.7rem;
}
.hdn_tel .phones {
  position: absolute;
  top: 2.45rem;
  left: -1.2rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 15px -5px #000;
}
.hdn_tel .phones li {
  list-style: none;
}
.hdn_tel .phones .out_ul {
  margin: 0;
  padding: 0 0 1rem 0;
}
.hdn_tel .phones .out_ul > li {
  display: inline-block;
}
.hdn_tel .phones .out_ul > li:first-child::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  left: 11.5rem;
  display: inline-block;
  width: 1px;
  height: 50%;
  background: #b8b8b8;
}
.hdn_tel .phones .out_ul > li > ul {
  padding: 0 1.8rem;
}
.hdn_tel .phones .inn_li {
  margin-right: .5rem;
}
.hdn_tel .phones .btm_row {
  padding-top: 1rem;
  border-top: 1px solid #b8b8b8;
}
.hdn_tel .phones .heading {
  font-size: .8rem;
}
.hdn_tel .phones .phone {
  color: #555555;
}
.hdn_tel .phones img {
  margin-bottom: -.1rem;
  margin-right: .5rem;
  height: 1.2rem;
}

.contacts {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: .9rem;
}
.contacts > li {
  display: inline-block;
}
.contacts > li:not(:first-child) a {
  border-left: 1px solid #000;
}
.contacts > li:first-child a {
  padding-left: 0;
}
.contacts > li:last-child a {
  padding-right: 0;
}
.contacts > li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.contacts > li a:hover {
  color: #c20b2f;
}
.contacts > li .tel_bottom_line {
  border-bottom: 1px dashed #000;
}
.contacts > li .tel_bottom_line:hover {
  border-bottom: 1px dashed #c20b2f;
}
.contacts > li a {
  padding: 0 .7rem;
  margin-bottom: .5rem;
  height: 1.3rem;
  vertical-align: text-top;
}
.contacts > li a img {
  margin-bottom: -.2rem;
  height: 1rem;
}
.contacts > li .chevron {
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.7rem;
}

.head_search {
  float: right;
  position: relative;
}
.head_search .search {
  display: inline-block;
}
.head_search .search label[for=check] {
  position: absolute;
}
.head_search .search input[type="search"] {
  font-style: italic;
  font-size: 0.8rem;
  width: 16rem;
  padding: .1rem 1rem .1rem .7rem;
}
.head_search .search input[type="image"] {
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  top: .4rem;
  left: 14.5rem;
}
.head_search a {
  text-decoration: none;
}
.head_search img {
  margin-bottom: -.3rem;
  margin-left: 1rem;
}
.head_search .chevron {
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.7rem;
}

.main_header {
  position: relative;
  background: #fff;
}
.main_header .head_logo {
  float: left;
}
.main_header .head_logo img {
  margin: 1rem 0;
  width: 27rem;
}
.main_header nav {
  position: relative;
}
.main_header .main_menu {
  float: right;
}
.main_header .main_menu li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main_header .main_menu li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.main_header .main_menu li a:hover {
  color: #c20b2f;
}
.main_header .main_menu li a {
  color: #555555;
}
.main_header .main_menu li a.active {
  color: #c20b2f;
}
.main_header .main_menu li:last-of-type {
  margin-right: 0;
}
.main_header .hdn_menu {
  z-index: 1000;
  position: absolute;
  top: 1.4rem;
  right: -2.6rem;
  width: 20rem;
}
.main_header .hdn_menu div {
  float: left;
  padding: 1.5rem .7rem;
  color: #c20b2f;
  background: #fff;
  border: 1px solid #b8b8b8;
  box-shadow: 0 0 15px -5px #000;
  cursor: pointer;
}
.main_header .hdn_menu ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 15px -5px #000;
}
.main_header .hdn_menu ul a {
  display: block;
  text-decoration: none;
  padding: .8rem 1rem;
  color: #b8b8b8;
  background: #fff;
  border: 1px solid #b8b8b8;
}
.main_header .hdn_menu ul a:hover {
  color: #000;
  background: #f7f7f7;
}
.main_header::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -50;
  top: 2rem;
  right: 30rem;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  height: 4rem;
  width: 12rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 60px -10px #000;
}
.main_header::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -50;
  top: 2rem;
  left: 30rem;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  height: 4rem;
  width: 12rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 60px -10px #000;
}

.breadcrumbs {
  padding: 0;
  margin: 2rem 0 3rem;
  font-size: .88rem;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.breadcrumbs li a:hover {
  color: #c20b2f;
}
.breadcrumbs li:not(last-of-type) {
  margin-right: .3rem;
}

.submenu {
  padding: 0;
  position: relative;
}
.submenu li {
  display: block;
  width: 49.5%;
  border: 1px solid #000;
  border-top: none;
}
.submenu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}
.submenu li.sub_m_gray {
  float: left;
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: linear-gradient(to bottom, #ededed 0%, #b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );
}
.submenu li.sub_m_gray a {
  color: #000;
  text-shadow: 1px 1px 2px #fff;
}
.submenu li.sub_m_red {
  float: right;
  background: #e7124c;
  background: -moz-linear-gradient(top, #e7124c 0%, #c20b2f 100%);
  background: -webkit-linear-gradient(top, #e7124c 0%, #c20b2f 100%);
  background: linear-gradient(to bottom, #e7124c 0%, #c20b2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );
}
.submenu li.sub_m_red a {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.gallery h1 {
  position: relative;
  float: left;
  font-size: 1.95rem;
  font-weight: 300;
  margin: 2rem 0 2rem 1rem;
}
.gallery h1::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: .75rem;
  left: -1rem;
  width: .3rem;
  height: 50%;
  background: #c20b2f;
}
.gallery .timetags {
  float: right;
  margin-top: 3rem;
}
.gallery .timetags li {
  display: inline-block;
  font-size: .95rem;
}
.gallery .timetags li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.gallery .timetags li a:hover {
  color: #c20b2f;
}
.gallery .timetags li a {
  cursor: pointer;
}
.gallery .timetags li:not(:last-of-type) a {
  border-right: 1px solid #555555;
  padding: 0 1rem;
}
.gallery .timetags li:last-of-type a {
  padding-left: 1rem;
}
.gallery .glr_items .big_pic {
  position: relative;
  width: 49%;
  float: left;
  box-shadow: inset 30px 0px 50px -20px #000, inset -30px 0px 50px -20px #000;
}
.gallery .glr_items .big_pic::before {
  z-index: 500;
  content: '';
  display: block;
  position: absolute;
  top: 43%;
  left: 5%;
  width: 7%;
  height: 14%;
  background: url("../img/arrow.png") 50% 50% no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: 28% auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gallery .glr_items .big_pic::after {
  z-index: 500;
  content: '';
  display: block;
  position: absolute;
  top: 43%;
  right: 5%;
  width: 7%;
  height: 14%;
  background: url("../img/arrow.png") 50% 50% no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: 28% auto;
}
.gallery .glr_items .big_pic img {
  position: relative;
  z-index: -2;
}
.gallery .glr_items .sml_pics {
  width: 51%;
  float: right;
  overflow: hidden;
}
.gallery .glr_items .sml_pics img {
  float: right;
  width: 30%;
  margin: 0 0 1.2rem 1.2rem;
}

.decription {
  margin: 2.5rem 0 3rem;
}
.decription ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.decription ul.tabs li {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: linear-gradient(to bottom, #ededed 0%, #b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );
  width: 33.3333%;
  display: inline-block;
  padding: 1rem 5rem;
  cursor: pointer;
  font-size: 1.1rem;
  color: #555555;
  border: 1px solid #b8b8b8;
}
.decription ul.tabs li.current {
  background: #fff;
  border-bottom: none;
}
.decription .tab-content {
  overflow: auto;
  display: none;
  padding: 2rem 4rem 4rem;
  background: #fff;
  font-size: .9rem;
  color: #555555;
  border: 1px solid #b8b8b8;
  border-top: none;
}
.decription .tab-content img {
  float: left;
  width: 40%;
  margin: 0 2rem 0 0;
}
.decription .tab-content.current {
  display: inherit;
}

.main_footer {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  color: #b8b8b8;
  background: #555555;
  box-shadow: inset 0 15px 15px -15px #000;
}
.main_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_footer li {
  margin-bottom: .5rem;
}
.main_footer .footer_nav > div {
  display: inline-block;
  vertical-align: top;
  height: 16.5rem;
}
.main_footer .footer_nav > div:not(:last-child) {
  padding-right: 1.6em;
  margin-right: 1.6em;
  border-right: 1px solid #b8b8b8;
}
.main_footer .ftr_heading {
  color: #fff;
  font-weight: bold;
  font-size: .9rem;
}
.main_footer .ftr_heading hr {
  height: 1px;
  margin-top: 2rem;
  background: #b8b8b8;
  border: 0;
}
.main_footer .ftr_heading img {
  margin-bottom: -.1rem;
  height: 1rem;
}
.main_footer .ftr_heading > li {
  margin-top: 1rem;
}
.main_footer a {
  font-weight: normal;
  color: #b8b8b8;
  text-decoration: none;
}
.main_footer a:hover {
  color: #fff;
}

.bottom {
  padding: 1rem 0;
  background: #464646;
  color: #a8a8a8;
}
.bottom .copyright {
  float: left;
}
.bottom .developer {
  float: right;
}

.contact_form {
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background: #fff;
}
.contact_form h1 {
  margin: 0;
  font-weight: 300;
}
.contact_form p {
  margin: .8rem 0 1.6rem;
}
.contact_form p .darkred {
  color: #c20b2f;
}
.contact_form hr {
  margin: 3px 0;
  padding: 0;
  border: none;
  border-bottom: 1px dotted #b8b8b8;
}
.contact_form form div {
  margin: .8rem 0;
}
.contact_form form label {
  display: block;
  margin: .8rem 0 .5rem;
}
.contact_form form .inp_text, .contact_form form div:first-child input[type="text"], .contact_form form div:last-child textarea, .contact_form form div:last-child input[type="text"] {
  padding: .7rem;
  background: #f7f7f7;
  border: 1px solid #b8b8b8;
  color: #b8b8b8;
  box-shadow: inset 0 0 10px -5px #000;
  font-size: .9rem;
}
.contact_form form div:first-child {
  float: left;
  width: 49%;
}
.contact_form form div:first-child input[type="text"] {
  width: 100%;
}
.contact_form form div:last-child {
  position: relative;
  float: right;
  width: 49%;
}
.contact_form form div:last-child textarea {
  width: 100%;
  height: 8.1rem;
}
.contact_form form div:last-child img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact_form form div:last-child label[for=check] {
  margin-left: 13rem;
}
.contact_form form div:last-child input[type="text"] {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 13rem;
}
.contact_form form div:last-child input[type="submit"] {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #b8b8b8 100%);
  background: linear-gradient(to bottom, #ededed 0%, #b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );
  float: right;
  padding: .5rem 2rem;
  border: 1px solid #555555;
  color: #000;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}
