@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin li_style {
  display: inline-block;
  a {
    display: inline-block;
    text-decoration: none;
    color: $black;
    &:hover {
      color: $darkred;
    }
  }
}
@mixin chevron {
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  height: 0.4rem;
  width: 0.7rem;
}
