@import "colors";
@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600italic,600,400italic,300,300italic);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $lightgray;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  @include clearfix;
}
.clearfix {
  @include clearfix;
}
.hidden {
  display: none;
}
.top {
  padding: .8em 0 .7rem;
}
.hdn_tel {
  z-index: 1000;
  position:relative;
  font-size: .9rem;
  cursor: default;
  .clicked_phone {
    position:absolute;
    cursor: pointer;
    z-index: 10;
    top: -.8rem;
    left: -1.2rem;
    padding: 1.02rem;
    background: $white;
    color: $darkred;
    box-shadow: 0 0 15px -5px $black;
    img {
      margin-bottom: -.2rem;
      height: 1rem;
    }
    .chevron {
      @include chevron;
    }
  }
  .phones {
    position:absolute;
    top: 2.45rem;
    left: -1.2rem;
    padding: 1rem;
    background: $white;
    box-shadow: 0 0 15px -5px $black;
    li {
      list-style: none;
    }
    .out_ul {
      margin: 0;
      padding: 0 0 1rem 0;
        & > li {
          display: inline-block;
          &:first-child::after {
            content: '';
            position: absolute;
            top: 1.15rem;
            left: 11.5rem;
            display: inline-block;
            width: 1px;
            height: 50%;
            background: $gray;
          }
          & > ul {
            padding: 0 1.8rem;
        }
      }
    }
    .inn_li {
      margin-right: .5rem;
    }
    .btm_row {
      padding-top: 1rem;
      border-top: 1px solid $gray;
    }
    .heading {
      font-size: .8rem;

    }
    .phone {
      color: $darkgray;
    }
    img {
      margin-bottom: -.1rem;
      margin-right: .5rem;
      height: 1.2rem;
    }
  }
}
.contacts {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: .9rem;
  & > li {
    &:not(:first-child) a {
      border-left: 1px solid $black;
    }
    &:first-child a {
      padding-left: 0;
    }
    &:last-child a {
      padding-right: 0;
    }
    @include li_style;
    .tel_bottom_line {
      border-bottom: 1px dashed $black;
      &:hover {
        border-bottom: 1px dashed $darkred;
      }
    }
    a {
      padding: 0 .7rem;
      margin-bottom: .5rem;
      height: 1.3rem;
      vertical-align: text-top;
      img {
        margin-bottom: -.2rem;
        height: 1rem;
      }
    }
    .chevron {
      @include chevron;
    }
  }
}
.head_search {
  float: right;
  position: relative;
  .search {
    display: inline-block;
    label[for=check] {
      position: absolute;
    }
    input[type="search"] {
      font-style: italic;
      font-size: 0.8rem;
      width: 16rem;
      padding: .1rem 1rem .1rem .7rem;
    }
    input[type="image"] {
      display: block;
      height: 1.1rem;
      width: 1.1rem;
      position: absolute;
      top: .4rem;
      left: 14.5rem;
    }
  }
  a {
    text-decoration: none;
  }
  img {
    margin-bottom: -.3rem;
    margin-left: 1rem;
  }
  .chevron {
    @include chevron;
  }
}
.main_header {
  position: relative;
  background: $white;
  .head_logo {
    float: left;
    img {
      margin: 1rem 0;
      width: 27rem;
    }
  }
  nav {
    position: relative;
  }
  .main_menu {
    float: right;
    li {
      @include li_style;
      margin-right: 1rem;
      margin-top: 2rem;
      & a {
        color: $darkgray;
      }
      & a.active {
        color: $darkred;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .hdn_menu {
    z-index: 1000;
    position: absolute;
    top: 1.4rem;
    right: -2.6rem;
    width: 20rem;
    div {
      float: left;
      padding: 1.5rem .7rem;
      color: $darkred;
      background: $white;
      border: 1px solid $gray;
      box-shadow: 0 0 15px -5px $black;
      cursor: pointer;
    }
    ul {
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 15px -5px $black;
      a {
        display: block;
        text-decoration: none;
        padding: .8rem 1rem;
        color: $gray;
        background: $white;
        border: 1px solid $gray;
        &:hover {
          color: $black;
          background: $lightgray;
        }
      }
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -50;
    top: 2rem;
    right: 30rem;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    height: 4rem;
    width: 12rem;
    @include border-radius(3px);
    box-shadow: 0 0 60px -10px $black;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -50;
    top: 2rem;
    left: 30rem;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    height: 4rem;
    width: 12rem;
    @include border-radius(3px);
    box-shadow: 0 0 60px -10px $black;
  }
}
.breadcrumbs {
  padding: 0;
  margin: 2rem 0 3rem;
  font-size: .88rem;
  li {
    @include li_style;
    &:not(last-of-type) {
      margin-right: .3rem;
    }
  }
}
.submenu {
  padding: 0;
  position: relative;
  li {
    display: block;
    width: 49.5%;
    border: 1px solid $black;
    border-top: none;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
    }
    &.sub_m_gray {
      float: left;

      // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,b8b8b8+100
      // Old browsers
      background: #ededed;

      // FF3.6-15
      background: -moz-linear-gradient(top,  #ededed 0%, #b8b8b8 100%);

      // Chrome10-25,Safari5.1-6
      background: -webkit-linear-gradient(top,  #ededed 0%,#b8b8b8 100%);

      // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
      background: linear-gradient(to bottom,  #ededed 0%,#b8b8b8 100%);

      // IE6-9
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );

      a {
        color: $black;
        text-shadow: 1px 1px 2px $white;
      }
    }
    &.sub_m_red {
      float: right;

      // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,b8b8b8+100
      // Old browsers
      background: $crimson;

      // FF3.6-15
      background: -moz-linear-gradient(top,  $crimson 0%, $darkred 100%);

      // Chrome10-25,Safari5.1-6
      background: -webkit-linear-gradient(top,  $crimson 0%, $darkred 100%);

      // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
      background: linear-gradient(to bottom,  $crimson 0%, $darkred 100%);

      // IE6-9
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );

      a {
        color: $white;
        text-shadow: 1px 1px 2px $black;
      }
    }
  }
}
.gallery {
  h1 {
    position: relative;
    float: left;
    font-size: 1.95rem;
    font-weight: 300;
    margin: 2rem 0 2rem 1rem;
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      top: .75rem;
      left: -1rem;
      width: .3rem;
      height: 50%;
      background: $darkred;
    };
  }
  .timetags {
    float: right;
    margin-top: 3rem;
    li {
      @include li_style;
      font-size: .95rem;
      a {
        cursor: pointer;
      }
      &:not(:last-of-type) a {
        border-right: 1px solid $darkgray;
        padding: 0 1rem;
      }
      &:last-of-type a {
        padding-left: 1rem;
      }
    }
  }
  .glr_items {
    .big_pic {
      position: relative;
      width: 49%;
      float: left;
      box-shadow: inset 30px 0px 50px -20px $black,
                  inset -30px 0px 50px -20px $black;
      &::before {
        z-index: 500;
        content: '';
        display: block;
        position: absolute;
        top: 43%;
        left: 5%;
        width: 7%;
        height: 14%;
        background: url('../img/arrow.png') 50% 50% no-repeat;
        background-color: rgba(255, 255, 255, .7);
        background-size: 28% auto;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      &::after {
        z-index: 500;
        content: '';
        display: block;
        position: absolute;
        top: 43%;
        right: 5%;
        width: 7%;
        height: 14%;
        background: url('../img/arrow.png') 50% 50% no-repeat;
        background-color: rgba(255, 255, 255, .7);
        background-size: 28% auto;
      }
      img {
        position: relative;
        z-index: -2;
      }
    }
    .sml_pics {
      width: 51%;
      float: right;
      overflow: hidden;
      img {
        float: right;
        width: 30%;
        margin: 0 0 1.2rem 1.2rem;
      }
    }
  }
}
.decription {
  margin: 2.5rem 0 3rem;
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{

    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,b8b8b8+100
    // Old browsers
    background: #ededed;

    // FF3.6-15
    background: -moz-linear-gradient(top,  #ededed 0%, #b8b8b8 100%);

    // Chrome10-25,Safari5.1-6
    background: -webkit-linear-gradient(top,  #ededed 0%,#b8b8b8 100%);

    // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    background: linear-gradient(to bottom,  #ededed 0%,#b8b8b8 100%);

    // IE6-9
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );

    width: 33.3333%;
    display: inline-block;
    padding: 1rem 5rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: $darkgray;
    border: 1px solid $gray;
  }
  ul.tabs li.current{
    background: $white;
    border-bottom: none;
  }
  .tab-content{
    overflow: auto;
    display: none;
    padding: 2rem 4rem 4rem;
    background: $white;
    font-size: .9rem;
    color: $darkgray;
    border: 1px solid $gray;
    border-top: none;
    img {
      float: left;
      width: 40%;
      margin: 0 2rem 0 0;
    }
  }
  .tab-content.current{
    display: inherit;
  }
}
.main_footer {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  color: $gray;
  background: $darkgray;
  box-shadow: inset 0 15px 15px -15px $black;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-bottom: .5rem;
  }
  .footer_nav > div {
    display: inline-block;
    vertical-align: top;
    height: 16.5rem;
    &:not(:last-child) {
      padding-right: 1.6em;
      margin-right: 1.6em;
      border-right: 1px solid $gray;
    }
  }
  .ftr_heading {
    color: $white;
    font-weight: bold;
    font-size: .9rem;
    hr {
      height: 1px;
      margin-top: 2rem;
      background: $gray;
      border: 0;
    }
    img {
      margin-bottom: -.1rem;
      height: 1rem;
    }
    & > li{
      margin-top: 1rem;
    }
  }
  a {
    font-weight: normal;
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}
.bottom {
  padding: 1rem 0;
  background: $almblack;
  color: $grey;
  .copyright {
    float:left;
  }
  .developer {
    float: right;
  }
}
.contact_form {
  z-index: 1000;
  bottom: 0; left: 0; right: 0;
  padding: 3rem 0;
  background: $white;
  h1 {
    margin: 0;
    font-weight: 300;
  }
  p {
    margin: .8rem 0 1.6rem;
    .darkred {
      color: $darkred;
    }
  }
  hr {
    margin: 3px 0;
    padding: 0;
    border: none;
    border-bottom: 1px dotted $gray;
  }
  form {
    div {
      margin: .8rem 0;
    }
    label {
      display: block;
      margin: .8rem 0 .5rem;
    }
    .inp_text {
      padding: .7rem;
      background: $lightgray;
      border: 1px solid $gray;
      color: $gray;
      box-shadow: inset 0 0 10px -5px $black;
      font-size: .9rem;
    }
    div:first-child {
      float: left;
      width: 49%;
      input[type="text"] {
        @extend .inp_text;
        width: 100%;
      };
    }
    div:last-child {
      position: relative;
      float: right;
      width: 49%;
      textarea {
        width: 100%;
        height: 8.1rem;
        @extend .inp_text;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      label[for=check] {
        margin-left: 13rem;
      }
      input[type="text"] {
        @extend .inp_text;
        background: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 13rem;
      }
      input[type="submit"] {

        // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,b8b8b8+100
        // Old browsers
        background: #ededed;

        // FF3.6-15
        background: -moz-linear-gradient(top,  #ededed 0%, #b8b8b8 100%);

        // Chrome10-25,Safari5.1-6
        background: -webkit-linear-gradient(top,  #ededed 0%,#b8b8b8 100%);

        // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
        background: linear-gradient(to bottom,  #ededed 0%,#b8b8b8 100%);

        // IE6-9
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b8b8b8',GradientType=0 );

        float: right;
        padding: .5rem 2rem;
        border: 1px solid $darkgray;
        color: $black;
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
